

.hyper-card{
  width: 100% !important;
  height: 100vh !important;
  display: flex  !important;
  align-items: center !important;
  justify-content: center !important;
};

.wpwl-form-card {
  border-radius: 10px;
  background-image: linear-gradient(30deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.2) 70%), linear-gradient(45deg, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.2) 75%), linear-gradient(60deg, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%);
  background-color: silver;
  margin: 20px !important;
}
